@media (max-width:428px) {
    header,
    .cont-footer,
    .team,
    .service{
        display: flex;
        flex-direction: column;
    }

    nav a{
        font-size: 12px;;
    }

    .web, 
    .desing, 
    .movil,
    .marketing{
          width: 90%;
          margin: 0px auto;
    }

    .foto{        
        margin: 0px auto;
    
    }
    
    .team img{
        margin: 0px auto;
    }
    
    .pag-content{
        display: flex;
        flex-direction: column;
    }

    .form-contact{
        width: 80%;
    }

    .form-contact input[type=submit]{
        margin: 0px auto;
    }
    footer{
        padding: 40px;
    }

    .contact{
        width: 100%;
        text-align: center;
    }
    
    .redes img:last-child{
        margin-right: 0px;
    }

    .redes{
        align-items: center;
        margin: 0px auto;
    }

    .logotipo {
        margin-top: -90px;
    }

    
    .pag-contacto{
        width: 100%;
        text-align: center;
    }

    .cont{
        width: 72%;
        margin: 0px auto;
    }

    form{
        margin: 0px auto;
    }

}